<!DOCTYPE html>
<html lang="ja">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>BlenderHub - A version management tool for Blender</title>
        <script src="../js/uikit.min.js"></script>
        <script src="../js/uikit-icons.min.js"></script>
        <link rel="stylesheet" href="../css/uikit.min.css">
    </head>

    <body>
        <div class="uk-container uk-padding-large">
            <div style="display: flex;">
                <h1 style="margin-bottom: 0;">BlenderHub</h1>
                <button id="refresh" class="uk-icon-link" uk-icon="refresh" style="margin: 0.2em 0 0 1em;"></button>
                <button id="toggle_list" class="uk-icon-link" uk-icon="list" uk-toggle="target: .toggle"
                    style="margin: 0.2em 0 0 1em;"></button>
            </div>
            <hr>
            <div id="content"></div>
            <div id="installed_card" class="toggle uk-grid-column-small uk-grid-row-large uk-child-width-1-3@s" uk-grid></div>
            <div id="installed_list" class="toggle" hidden></div>            
            <button id="select-folder" class="uk-button uk-button-primary uk-button-small uk-margin-top"
            type="button">バージョンを追加</button>
        </div>
        <div id="loading" uk-modal>
            <div class="uk-modal-dialog uk-modal-body">
                <div uk-spinner></div> 処理中
            </div>
        </div>
        <div id="setting" uk-modal="bg-close: false; esc-close: false;">
            <div class="uk-modal-dialog uk-modal-body">
                <h2 class="uk-modal-title">設定</h2>
                <form>
                    <fieldset class="uk-fieldset">
                        <p>登録名</p>
                        <div class="uk-margin">
                            <input id="regist_name" class="uk-input" type="text" placeholder="登録名(一覧に表示されます)">
                        </div>
                        <p>ディレクトリ</p>
                        <div class="uk-margin">
                            <input id="dir" class="uk-input" type="text" disabled>
                        </div>
                        <button id="regist_setting" class="uk-button uk-button-primary" type="button">登録</button>
                    </fieldset>
                </form>
            </div>
        </div>
        <div id="edit" uk-modal>
            <div class="uk-modal-dialog uk-modal-body">
                <h2 class="uk-modal-title">プロパティ</h2>
                <form>
                    <fieldset class="uk-fieldset">
                        <p>登録名</p>
                        <div class="uk-margin">
                            <input id="edit_name" class="uk-input" type="text" placeholder="登録名(一覧に表示されます)">
                        </div>
                        <p>ディレクトリ</p>
                        <div class="uk-margin">
                            <input id="edit_dir" class="uk-input" type="text" disabled>
                        </div>
                        <button id="edit_setting" data-id="" onclick="save(this)" class="uk-button uk-button-primary" type="button">保存</button>
                        <button id="delete_setting" data-id="" onclick="remove(this)" class="uk-button uk-button-danger" type="button">削除</button>
                    </fieldset>
                </form>
            </div>
        </div>
        <script src="../js/main.js"></script>
    </body>

</html>